
body {
    font-family: "Times New Roman", Times, serif;
    background-color: #fffbe6;
    color: #4b3d1f;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #a67c00;
    margin-top: 40px;
}

h2 {
    color: #d4a017;
    font-weight: normal;
    margin-top: -10px;
}

p {
    width: 70%;
    margin: 20px auto;
    line-height: 1.6;
}

img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px 0;
    border: 3px solid #d4a017;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff2b2;
    margin: 8px auto;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
}

a {
    color: #a67c00;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #704214;
    text-decoration: underline;
}
